@import url("./Bracket/bracket.css");
@import url("./Logo/logo.css");
@import url("./Navigation/navigation.css");
@import url("./Search/search.css");
@import url("./HamburgerButton/hamburger.css");

.second-section {
  display: flex;
  margin-left: var(--space-300);
  margin-right: var(--space-300);
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;
  flex-direction: row;
  position: relative;
}
.navigation-section {
  display: flex;
}
.middle-section {
  display: flex;
  flex-direction: column;
}
.search-desktop {
  display: flex;
}

.search-mobile {
  display: none;
}
.menu-responsive {
  align-items: center;
  z-index: 20;
  position: fixed;
  width: 0px;
  height: 0px;
  top: 140px;
  background-color: var(--color-white);
  overflow: hidden;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  transition: all 1.5s ease;
  border-radius: 5px;
  box-shadow: 2px 3px 20px -2px var(--color-gray);
}
.menu-responsive-animation {
  width: 240px;
  height: 250px;
}

.menu {
  margin-left: var(--space-300);
  margin-right: var(--space-300);
  padding-top: var(--space-48);
}

.image-close {
  display: none;
}
@media (min-width: 1201px) and (max-width: 1440px) {
  .second-section {
    margin-left: var(--space-192);
    margin-right: var(--space-192);
  }
  .menu {
    margin-left: var(--space-192);
    margin-right: var(--space-192);
    padding-top: var(--space-32);
  }
}

@media (min-width: 961px) and (max-width: 1200px) {
  .second-section {
    margin-left: var(--space-128);
    margin-right: var(--space-128);
  }
  .image-close {
    display: flex;
    margin-left: 200px;
    cursor: pointer;
  }
  .menu-responsive {
    margin-left: var(--space-128);
    margin-right: var(--space-128);
  }
}

@media only screen and (min-width: 721px) and (max-width: 960px) {
  .second-section {
    margin-left: var(--space-96);
    margin-right: var(--space-96);
    flex-direction: row;
  }
  .search-desktop {
    display: none;
  }
  .search-mobile {
    display: flex;
    padding-top: var(--space-32);
    z-index: -1;
    justify-content: center;
  }
  .image-close {
    margin-left: 200px;
    display: flex;
    cursor: pointer;
  }
  .menu-responsive {
    margin-left: var(--space-96);
    margin-right: var(--space-96);
  }
}
@media (min-width: 601px) and (max-width: 720px) {
  .second-section {
    margin-left: var(--space-64);
    margin-right: var(--space-64);
    flex-direction: row;
  }
  .search-desktop {
    display: none;
  }
  .search-mobile {
    display: flex;
    padding-top: var(--space-32);
    z-index: -1;
    justify-content: center;
  }
  .image-close {
    display: flex;
    margin-left: 200px;
    cursor: pointer;
  }
  .menu-responsive {
    margin-left: var(--space-64);
    margin-right: var(--space-64);
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .second-section {
    margin-left: var(--space-48);
    margin-right: var(--space-48);
    flex-direction: row;
  }
  .search-desktop {
    display: none;
  }
  .search-mobile {
    display: flex;
    padding-top: var(--space-32);
    justify-content: center;
    z-index: -1;
  }
  .image-close {
    margin-left: 200px;
    display: flex;
    cursor: pointer;
  }
  .menu-responsive {
    margin-left: var(--space-48);
    margin-right: var(--space-48);
  }
}
@media (min-width: 361px) and (max-width: 480px) {
  .second-section {
    margin-left: var(--space-32);
    margin-right: var(--space-32);
    flex-direction: row;
  }
  .search-desktop {
    display: none;
  }
  .search-mobile {
    padding-top: var(--space-32);
    display: flex;
    z-index: -1;
    justify-content: center;
  }
  .image-close {
    margin-left: 200px;
    display: flex;
    cursor: pointer;
  }
  .menu-responsive {
    margin-left: var(--space-32);
    margin-right: var(--space-32);
  }
}

@media (min-width: 120px) and (max-width: 360px) {
  .second-section {
    margin-left: var(--space-16);
    margin-right: var(--space-16);
    flex-direction: row;
  }
  .search-desktop {
    display: none;
  }
  .search-mobile {
    padding-top: var(--space-32);
    display: flex;
    z-index: -1;
    justify-content: center;
  }
  .image-close {
    margin-left: 200px;
    display: flex;
    cursor: pointer;
  }
  .menu-responsive {
    margin-left: var(--space-16);
    margin-right: var(--space-16);
  }
}
