/* icon to open responsive MENU */
.hamburger {
  display: none;
}

/* icon is visible under 1200px */
@media (max-width: 1200px) {
  .hamburger {
    display: flex;
    border: none;
    background-color: transparent;
  }
}
