/* navigation text */
.nav {
  text-decoration: none;
  color: var(--color-black);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-600);
}

/* navigation text change on hover and when it is active*/
.nav:hover,
.active {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-600);
  color: var(--color-pink);
}

/* all navigation  */
.menu-bar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  padding: 0;
}

/* navigation display and margin change depend on screen size */
@media (min-width: 1201px) and (max-width: 1440px) {
  .menu {
    margin-left: var(--space-192);
    margin-right: var(--space-192);
    padding-top: var(--space-32);
  }
  .nav {
    font-size: var(--font-size-13);
  }

  .nav:hover,
  .active {
    font-size: var(--font-size-13);
  }
}
@media (max-width: 1200px) {
  .menu-bar {
    flex-direction: column;
  }
}
