.nav {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 600;
}

.nav:hover,
.active {
  font-size: 14px;
  font-weight: 600;
  color: #ecc7d0;
}

.menu-bar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  padding: 0;
}

@media (min-width: 1201px) and (max-width: 1440px) {
  .menu {
    margin-left: 192px;
    margin-right: 192px;
    padding-top: 32px;
  }
  .nav {
    font-size: 13px;
  }

  .nav:hover,
  .active {
    font-size: 13px;
  }
}
@media (max-width: 1200px) {
  .menu-bar {
    flex-direction: column;
  }
}
