.top {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  border: 0.5px solid #d7d7d7;
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-left: 300px;
}

.auth {
  display: flex;
  margin-right: 300px;
}

.button {
  background-color: transparent;
  border-left: 2px solid #d7d7d7;
  border-right: 2px solid #d7d7d7;
  border-top: none;
  border-bottom: none;
  height: 40px;
  width: 120px;
}
