/* button basket*/
.basket {
  display: flex;
  gap: var(--space-8);
  font-weight: var(--font-weight-600);
  width: 120px;
  height: 50px;
  border: none;
  background: transparent;
  cursor: pointer;
}

/* number of items in basket */
.basket-element-number {
  height: 20px;
  width: 20px;
  background-color: var(--color-pink);
  color: var(--color-white);
  border-radius: 10px;
  position: absolute;
  top: 22px;
  left: var(--space-16);
  font-size: var(--font-size-14);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* basket view */
.basket-elements {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: end;
}

/* basket text */
.basket-text {
  display: flex;
  color: var(--color-black);
}
